<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net472" />
  <package id="Selenium.WebDriver.ChromeDriver" version="87.0.4280.8800" targetFramework="net472" />
  <package id="WebDriver.ChromeDriver" version="26.14.313457.1" targetFramework="net472" />
  <package id="WebDriverChromeDriver" version="2.10" targetFramework="net472" />
</packages>